<h4>Persons</h4>
<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Date of Birth</th>
      <th>Country</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody class="table-group-divider" ng-if="$ctrl.persons.length > 0">
    <tr ng-repeat="item in ::$ctrl.persons track by $index">
      <td>{{::$index + 1}}</td>
      <td>{{::item.firstName}}</td>
      <td>{{::item.lastName}}</td>
      <td><a href="#!/person/{{::item.id}}">{{::item.email}}</a></td>
      <td>{{::item.dateOfBirth | date:'yyyy-MM-dd'}}</td>
      <td>{{::item.country.name}}</td>
      <td>{{::item.language.name}}</td>
    </tr>
  </tbody>
</table>
